<!DOCTYPE html>
<html>
  <head>
    <title>Super Insurance</title>
    <%- include('header'); %>
  </head>
  <body>
      <ul>
        <li>Your name: <%= name %></li>
        <li>Your phone: <%= phone %></li>
        <li>Your address: <%= address %></li>
        <li>Your email: <%= email %></li>
        <li>Your premium: <%= premium %> €</li>
      </ul>
  </body>
</html>